h1 {
	background-color: #4aaaa5;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding-top: 32px;
	padding-bottom: 32px;
	margin: 0px;
	font-weight: bold;
}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 2px solid #dddddd;
	font-weight: bold;
	padding-bottom: 20px;
	font-size: 16pt;
}

h3 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 2px solid #dddddd;
	font-weight: bold;
	font-size: 12pt;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

a {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	text-decoration: none;
	padding: 10px;
}

.about-paragraph {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	margin-top: 20px;
}

.container {
	width: 960px;
	margin-left: 50px;
	margin-top: 40px;
}


header {
	border-bottom: 2px solid #cccccc;
}

footer {
	background-color: #666666;
	color: #BDC3C7;
	border-top: 5px solid #4aaaa5;
	height: 100px;
	text-align: center;
	line-height: 90px;
	clear: both;
}

body {
	margin: 0px;
	background-image: url(../images/concrete-texture.png);
}

.header {
	background-color: #ffffff;
	position: relative;
	height: 80px;
	width: 100%;
	border-bottom: 2px solid #cccccc;
}

.head-1 {
	background-color: #4aaaa5;
	width: 200px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	bottom: 0;
	left: 50px;
	font-size: x-large;
	font: bold;
}

.head-2 {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	padding: 20px;
	float: left;
}

.head-2 ul {
	list-style: none;
	position: absolute;
	bottom: 30px;
	right: 150px;
}

.head-2 li {
	float: left;
}

.portfolio-button {
	border-left: 1px solid #cccccc;
	border-right: 1px solid#cccccc;
}

#main-bio {
	background-color: white;
	width: 650px;
	float: left;
	border: 1px solid #dddddd;
	padding: 30px;
	margin-bottom: 50px;
}

#sidebar {
	background-color: white;
	max-width: 270px;
	padding: 20px;
	float: right;
	border: 1px solid #dddddd;
}

#bio-image {
	margin-right: 20px;
	margin-top: 20px;
}

#social-image {
	height: 40px;
	width: 40px;
}

#profile {
	float: left;
}

/* styling for contact page*/
.label {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	margin-top: 10px;
	margin-bottom: 10px;
}

.box1 {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #BDC3C7;
	border: 1px solid #BDC3C7;
	padding: 10px;
}

.box2 {
	border: 1px solid #BDC3C7;
	height: 300px;
	margin-bottom: 20px;
}

#submit-button {
	background-color: #4aaaa5;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0px;
	height: 50px;
	width: 100px;
	text-align: center;
	line-height: 50px;
}
/*end contact pages section*/

/*styling for portfolio page*/
.row {
	height: 200px;
	margin-top: 20px;
}

.picture {
	width: 300px;
	float: left;
	margin-right: 20px;
}

#logo-image {
	display: block;
	margin: auto;
	height: 150px;
	width: 150px;
	position: absolute;
	z-index: 1;
	padding-left: 100px;
	padding-top: 10px;
}  

.text-box {
	background-color: #4aaaa5;
	color: white;
	text-align: center;
	height: 30px;
	width: 150px;
	line-height: 50px;
	position: relative;
	margin-left: 100px;
	z-index: 2;
	float: left;
	padding-bottom: 20px;
	top: 90px;	
}
/*end portfolio section*/

/*Media Queries*/

@media screen and (max-width: 980px;) {
	.container-980 {
		width: 720px;
	}

	#main-bio {
		width: 500px;
	}
}


@media screen and (max-width: 768px;) {
	.container-768 {
		margin-left: 0px;
	}

	#main-bio {
		width: 400px;
	}
}


@media screen and (max-width: 640px;) {
	.container-640 {
		width: 100%;
		margin-left: 10px;
		margin-right: 10px;
	}

	#main-bio {
		width: 400px;
	}	

	#sidebar {
		float: left;
	}
}

